<h1><%= @user.possessive.titlecase %> Profile</h1>
 
<p>
  Currently Reading: <strong><%= @user.current_reads.join() %></strong>
</p>
<p>
  Completed Books: <strong> <%= @user.finished_books.join() %></strong>
</p>
<p>
  Amount of Books Out: <strong><%= @user.books.count %></strong>
</p>
<p>
  Amount of Pages Read: <strong><%= @user.pages_read %></strong>
</p>

<div>
  <h4><button id="show_shelves">Shelves</button></h4>
  <table id="user_shelves"></table>
</div>