<h1><%= @user.possessive.titlecase %> Profile</h1>
 
<p>
  Currently Reading: <strong><%= @user.current_reads.join() %></strong>
</p>
<p>
  Completed Books: <strong> <%= @user.finished_books.join() %></strong>
</p>
<p>
  Amount of Books Out: <strong><%= @user.books.count %></strong>
</p>
<p>
  Amount of Pages Read: <strong><%= @user.pages_read %></strong>
</p>

<table>
  <caption><a href="#" onclick="#">Shelves</a></caption>
  <tbody>
    <% @user.shelves.each do |shelf| %>
    <tr>
      <td><%= shelf.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>