<!DOCTYPE html>
<html>
  <head>
    <title>RailsReadingListManagerProject</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <% if user_signed_in? %>
          Hello <%= current_user.name.capitalize %>, 
          <%= link_to "Home", root_path %>
          <%= link_to "Library", books_path %>
          <%= link_to "Your Shelves", user_shelves_path(current_user) %>
          <%= link_to "Profile", user_path(current_user) %>
          <%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %>
        <% else %>
          <%= link_to "Home", root_path %>
          <%= link_to "Login", new_user_session_path %>
          <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
      </ul>
    </nav>
    <% if !flash.empty? %>
    <div class="flash">
      <h1>Notice!</h1>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>

    <%= yield %>

    <script id="shelf-template" type="text/x-handlebars-template">
      <thead>
        <tr><td>{{name}}</td><tr>
      </thead>
      <tbody>
        {{#each books}}
         <tr><td>{{title}}</td></tr>
        {{/each}}
      </tbody>
    </script>

    <script id="new-shelf-template" type="text/x-handlebars-template">
      <fieldset id="shelf_{{id}}">  
        <legend> {{name}} Shelf </legend>
        <a href="/shelves/5/edit">Edit Name</a>
        <a data-confirm="Are you sure? Any books under this shelf will also be removed." rel="nofollow" data-method="delete" href="/shelves/5">Delete</a>

        {{#each books}}
          <div>
            <h4>{{title}}</h4>
            By: {{author}}<br>
            Genre: {{genre}}<br>
            Pages Left: {{pages_left}}
            <br><br>
            <form class="edit_shelved_book" id="edit_shelved_book_{{shelved_location.id}}" action="/shelved_books/{{shelved_location.id}}" accept-charset="UTF-8" method="post">
              <input name="utf8" type="hidden" value="✓">
              <input type="hidden" name="_method" value="patch">
              <input type="hidden" name="authenticity_token" value="Ax4RFeQt4iknAc1Bq+tK6FgbvFg7hD1Gmn2ew5QAhOSa0ZiI21J5ff/DpMEQ796VtM2KkPzn+NcH02cWp25unw==">
              <label for="shelved_book_current_page">Current page</label>
              <input required="required" min="0.0" max="284" type="number" value="0" name="{{current_page}}" id="shelved_book_current_page">
              <label for="shelved_book_status">Status</label>
              <select name="{{status}}" id="shelved_book_status">
                <option value="Currently Reading">Currently Reading</option>
                <option selected="selected" value="Plan to Read">Plan to Read</option>
                <option value="On Hold">On Hold</option>
                <option value="Finished">Finished</option>
                <option value="Dropped">Dropped</option>
              </select>
              <label for="shelved_book_shelf_id">Shelf</label>
              <select name="{{shelf_id}}" id="shelved_book_shelf_id">
                <% if user_signed_in? %>
                  <% current_user.shelves.each do |shelf| %>
                    <option selected="selected" value="<%=shelf.id%>"><%=shelf.name%></option>
                  <% end %>
                <% end %>
              <input type="submit" name="commit" value="Update" data-disable-with="Update">
            </form>        
          </div>

        {{/each}}
        <br><br>
      </fieldset>
      <br><br>
    </script>

    <script id="edit-shelved-book-template" type="text/x-handlebars-template"></script>
      <div>
        <h4></h4>
        By: <br>
        Genre: <br>
        Pages Left: 
        <br><br>
        <form class="edit_shelved_book" id="edit_shelved_book_{{id}}" action="/shelved_books/{{id}}" accept-charset="UTF-8" method="post">
          <input name="utf8" type="hidden" value="✓">
          <input type="hidden" name="_method" value="patch">
          <input type="hidden" name="authenticity_token" value="Ax4RFeQt4iknAc1Bq+tK6FgbvFg7hD1Gmn2ew5QAhOSa0ZiI21J5ff/DpMEQ796VtM2KkPzn+NcH02cWp25unw==">
          <label for="shelved_book_current_page">Current page</label>
          <input required="required" min="0.0" max="284" type="number" value="0" name="{{current_page}}" id="shelved_book_current_page">
          <label for="shelved_book_status">Status</label>
          <select name="{{status}}" id="shelved_book_status">
            <option value="Currently Reading">Currently Reading</option>
            <option selected="selected" value="Plan to Read">Plan to Read</option>
            <option value="On Hold">On Hold</option>
            <option value="Finished">Finished</option>
            <option value="Dropped">Dropped</option>
          </select>
          <label for="shelved_book_shelf_id">Shelf</label>
          <select name="{{shelf_id}}" id="shelved_book_shelf_id">
            <% if user_signed_in? %>
              <% current_user.shelves.each do |shelf| %>
                <option selected="selected" value="<%=shelf.id%>"><%=shelf.name%></option>
              <% end %>
            <% end %>
          <input type="submit" name="commit" value="Update" data-disable-with="Update">
        </form>        
      </div>
    </script>

  </body>
</html>
